body {
    background-color: #000;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-image:url(/components/img/fundo-roxotec.jpg) ;
}

header {
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

#title{
    flex-direction:column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}
#account-btn{
border: 2px solid purple;
border-radius: 20px;
padding: 10px;
}

#account-btn:hover{
    background-color:white;
    color: black;
}

a:hover{
    color:rgb(14, 1, 14);
    transition: 0.3s all;
}

h1{
font-weight: 500

}

main{
flex-direction: row;
display: flex;
margin-top:100px;

}

h2{
font-family:poppinsbold;
font-size: 40px;
line-height: 30px;
font-weight: 600;
}

.color{
    color:black
    
}

.msg{
        font-family: monospace;
        border-right: 4px solid;
        width: 10ch;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s steps(20) infinite,
        blinking 0,5s infinite step-end alternate;
    
    }

    @keyframes typing{
        from{
            width: 0;
        }
    }
    
    @keyframes blinking{
        50%{
    
            border-color: transparent;
        }
    }



p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 567px;
    margin-left: 20px;
}

form{
    flex-direction: column;
    display: flex;
    width: 70%;
}

input{
    margin-top: 20px;
    border-radius: 20px;
    height: 20px;
    padding: 15px;
    border: none;
    font-size: 15px;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(74, 4, 116);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

